.main
  color: #fffffe
  width: 100%
  overflow: hidden
  position: relative
  background-attachment: fixed
  background-size: cover
  background-position: center
  // header + footer px
  min-height: calc(100vh - 150px)
  visibility: hidden
  &.loaded
    visibility: visible
