header
  display: flex
  align-items: center
  justify-content: center
  height: 50px
  width: 100%
  color: #67493c
  background: rgba(91,214,201,0.2)
  .links
    padding: 10px
content
    position: relative
    padding-bottom: 80px

footer
  display: flex
  justify-content: flex-end
  align-items: flex-end
  height: 80px
  width: 100%
  position: absolute
  bottom: 0
  color: #fff
  background: #ff8f96
  .version
    padding: 4px 8px
