footer
  display: flex
  justify-content: flex-end
  align-items: flex-end
  height: 80px
  width: 100%
  position: absolute
  bottom: 0
  color: #fff
  background: #ff8f96
  .version
    padding: 4px 8px
